{% extends 'jsprob/shabl.html' %}
{% block title %} Добавить класс {% endblock %}
{% block content %}

<aside>
    <h5 class="featuress" id = 'nomb' style="font-style: italic; font-size: min(50px, 2.5vw);"> Укажите название добавляемого класса </h5>
</aside>
    <div class="features">

         <form action="" method="get">
            {% csrf_token %}
         <h4 id = 'wait'> </h4>
        <h2> {{kls}} </h2>
        <h5 style="font-style: italic; font-size: min(35px, 2vw);"> Введите номер и литер класса </h5>
        <h4> <input type="text" id="inpu" name="kl" placeholder='Например: 10Б' maxlength="100"  size="10"> </h4></br>
        <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt1' type="submit" name="intlg" onclick="Func()"> ВВЕСТИ </button></br>
        <div style="height:10px"></div>
        <a style="font-size: min(18px, 1.4vw);"  href="{% url 'home' %}" id = 'butt2' class="btn btn-success" onclick="Func()"> СТАРТОВОЕ МЕНЮ </a>

        </br>
    </form>
    </div>


    <script>
    function Func() {
    document.getElementById('butt1').style.display='none';
    document.getElementById('butt2').style.display='none';
    txt2.innerHTML = 'ПОЖАЛУЙСТА, ОЖИДАЙТЕ';
    txt2.style.cssText = 'font-style: italic; font-size: 36px; margin-top: 50px;';
    }

    </script>
{% endblock %}