{% extends 'jsprob/shabl.html' %}
{% block title %} Вы успешно зарегистрированы {% endblock %}
{% block content %}

    <div class="features">
        </br>
        </br>
        <h1 style="font-style: italic; font-size: max(22px, 2.5vw);"> Для просмотра статистики </h1></br>
        <h2 style="font-style: italic; font-size: max(22px, 2.5vw);"> пройдите игру хотя бы один раз </h2></br>
        <form action="" method="get">
             <a href="{% url 'home' %}" class="btn btn-success"> Стартовое меню </a>
        </form>
    </div>
{% endblock %}