{% extends 'jsprob/shabl.html' %}
{% block title %} Приветствие {% endblock %}
{% block content %}

<aside>
    <h2 class="featuress" style="font-style: italic"> ИНСТРУКЦИЯ К ПРИЛОЖЕНИЮ </h2>

</aside>
<div class="features">

    <h4> Тренажер позволяет развивать полезный навык быстрого устного счета, </h4>
    <h4> при этом занять высокое место в ТОП-е игроков или просто проверить свои силы. </h4>
    <h4> Вам предстоит пройти пять этапов (в каждом по 10 простых примеров), </h4>
    <h4> На каждый уровень отводится определенное количество секунд. </h4>
    <h4> Чем быстрее Вы проходите этап, тем больше зарабатываете очков. </h4>
    <h5> Ошибаться можно, но нежелательно, особенно дважды в одном примере, т.к. теряется значительное количество очков. </h5>
    <h5> Для достижения лучших результатов, давайте вспомним некоторые приемы устных вычислений. </h5>
    <h5> В кавычках продемонстрирован «мыслительный процесс», который позволяет быстро прийти к ответу. </h5>
    <h5> Пример 1. Сложение. </h5>
    <h5> 1) 289 + 27 = “прибавив в 289 число 11, получим 300, остается добавить: 27 - 11 = 16, следовательно…“ = 300 + 16 = 316 </h5>
    <h5> Пример 2. Вычитание. </h5>
    <h5> 2) 232 - 195 = “от числа 195км до 200км `топать` 5км, затем от 200км до 232км – еще 32км, следовательно…” = 5 + 32 = 37 </h5>
    <h5> Примеры 3,4. Умножение. </h5>
    <h5> 3) 3•208 = “200 троек – это 600, 8 троек – это 24, следовательно…” = 600 + 24 = 624 </h5>
    <h5> 4) 297•4 = “300 четверок – это 1200, но в нашем примере на 3 четверки меньше, следовательно…” = 1200 - 12 = 1188 </h5>
    <h5> Примеры 5,6. Деление. </h5>
    <h5> 5) 915:3 = “900 содержит (по сумме) содержит 300 троек, 15 содержит 5 троек, следовательно” = 300 + 5 = 305. </h5>
    <h5> 6) 788:4 = ”Ближайшее `красивое` число кратное 4 – это 800, 800 содержит 200 четверок, в нашем числе на 3 четверки меньше, значит 788 содержит 197 четверок” = 200 - 3 = 197 </h5>
    <h5> Примеры 6-го этапа. (Рассчитан на 7класс+. Здесь только подсказки) </h5>
    <h5> 7) Необходимо вспомнить формулу разности квадратов: и слева направо, и справа налево. </h5>
    <h5> 8) Также использовать: 25 = 100 / 4, 125 = 1000 / 8 и вспомнить распределительный закон умножения. </h5>
    <h5> Простите, за некоторую вольность в комментариях. </h5>
    <h5> Некоторые ленивые люди говорят, что можно быстро считать на калькуляторе … Можно. Однако, пройдя тренажер достаточное количество раз, можно научиться вычислять подобные примеры в уме, куда быстрее, чем набрать ряд необходимых цифр на калькуляторе. </h5>
    <h5> P.S. Не обновляйте и не переходите на предыдущую страницу браузера в момент прохождения этапов, это приведет к необходимости возвращаться в начальное меню. </h5>
    <h4> С наилучшими пожеланиями, успехов! </h4>
    <h6> Побойкин В.Я. </h6>
    <a href="{% url 'home' %}" class="btn btn-success"> НАЧАЛЬНОЕ МЕНЮ </a>
    </br>
    </br>
    </br>
    </div>

<style>
h4,h5 {
  text-align: center;
  font-style: italic;
}
h6 {
  text-align: right;
}
</style>
{% endblock %}