{% extends 'jsprob/shabl.html' %}
{% block title %} Случайный выбор {% endblock %}
{% block content %}

<aside>
    <h5 class="featuress" id = 'nomb' style="font-style: italic; font-size: min(35px, 4.5vw);"> Здравствуйте{{nm}}! </h5>
    <h5 class="featuress" id = 'wait0' style="font-style: italic; font-size: min(28px, 3.2vw);"> Укажите, что необходимо выполнить </h5>
</aside>

    <div class="features">

         <form action="" method="get">
            {% csrf_token %}
         <h4 id = 'wait'> </h4>
        {% if not user.is_authenticated %}
        <h5 style="font-style: italic; font-size: min(35px, 2vw);"> Если Вы уже регистрировались введите </h5>
        <h4> <input type="text" id="inpu" name="lg" placeholder='Ваш уникальный Логин' maxlength="100"  size="20"> </h4></br>
        <button style="font-size: min(18px, 2.6vw);" class="btn btn-success btn" id = 'butt1' type="submit" name="intlg" onclick="Func()"> ВВЕСТИ </button></br>
        <div style="height:10px"></div>
        <button style="font-size: min(18px, 2.6vw);" class="btn btn-danger btn" id = 'butt2' type="submit" name="reg" onclick="Func()"> Зарегистрироваться </button></br></br>
        {% else %}
        </br>
        <button style="font-size: min(18px, 2.6vw);" class="btn btn-success btn" id = 'butt3' type="submit" name="begin" onclick="Func()"> НАЧАТЬ </button></br>
        <div style="height:10px"></div>
        <a style="font-size: min(18px, 1.4vw);" href="{% url 'addkl' %}" id = "butt4" class="btn btn-success" onclick="Func()"> Добавить класс </a></br>
        <div style="height:10px"></div>

         {% if f == 1 %}
        <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt5' type="submit" name="addu4" onclick="Func()"> Добавить учеников в класс </button></br>
        <div style="height:10px"></div>
        <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt7' type="submit" name="addu44" onclick="Func()"> Изменить число выходов в классе </button></br>
        <div style="height:10px"></div>
        {% endif %}
        <a style="font-size: min(18px, 2.6vw);" href="{% url 'logout' %}" id = "butt6" class="btn btn-danger" onclick="Func()"> Выйти из аккаунта </a>
        {% endif %}
        <br>
        <br>
        <h2 style="font-style: italic;"> До ЕГЭ по математике осталось: </h2>
        <h1 style="font-style: italic;" id = 'vre'> </h1>
    </form>
    </div>

    <script>
    var s0={{t0}} + 1;
    var kor = s0;
    var na4 = new Date() - new Date(0);
    f={{f}};
    fl={{fl}};
    function Func() {
    if (fl==0) {document.getElementById('inpu').style.display='none';
        document.getElementById('butt1').style.display='none';
        document.getElementById('butt2').style.display='none';
        }
    if (fl==1)  {
         document.getElementById('butt3').style.display='none';
         document.getElementById('butt4').style.display='none';
         document.getElementById('butt7').style.display='none';
         document.getElementById('butt6').style.display='none';
         if (f==1) {document.getElementById('butt5').style.display='none';}
         }
    var txt2 = document.getElementById('wait');
    txt2.innerHTML = 'ПОЖАЛУЙСТА, ОЖИДАЙТЕ';
    txt2.style.cssText = 'font-style: italic; font-size: 36px; margin-top: 50px;';
    }

    function countdownTimer() {
    s0--;
      if (s0 > 0) {
        if ((new Date() - new Date(0) - na4 - 1000*(kor - s0))>3000) {location.reload();}
        d = Math.floor(s0 / 86400);
        ds = '';
        if (d > 0) {
            mn = d;
            tx = ' дней_';
            if (Math.floor(mn / 10) % 10 != 1) {
                if (mn % 10 == 2 || mn % 10 == 3 || mn % 10 == 4) {tx = ' дня_';}
                if (mn % 10 == 1) {tx = ' день_';}
                }
            ds = d + tx;
            }
        h = Math.floor((s0 % 86400) / 3600)
        hs = '';
        if (h > 0) {
            mn = h;
            tx = ' часов_';
            if (Math.floor(mn / 10) % 10 != 1) {
                if (mn % 10 == 2 || mn % 10 == 3 || mn % 10 == 4) {tx = ' часа_';}
                if (mn % 10 == 1) {tx = ' час_';}
                }
            hs = h + tx;
            }
        m = Math.floor((s0 % 3600) / 60);
        ms = '';
        if (m > 0) {
            mn = m;
            tx = ' минут_';
            if (Math.floor(mn / 10) % 10 != 1) {
                if (mn % 10 == 2 || mn % 10 == 3 || mn % 10 == 4) {tx = ' минуты_';}
                if (mn % 10 == 1) {tx = ' минута_';}
                }
            ms = m + tx;
            }
        txs = ds + hs + ms;

        mn = s0 % 60;
        if (mn > 0) {
        console.log(mn);
        tx = ' секунд_';
        if (Math.floor(mn / 10) % 10 != 1) {
            if (mn % 10 == 2 || mn % 10 == 3 || mn % 10 == 4) {tx = ' секунды_';}
            if (mn % 10 == 1) {tx = ' секунда_';}
             }
        txs += mn + tx;
        }
        arr = txs.split('_');
        console.log(arr);
        txs = arr.slice(0, arr.length - 1).join(', ') + '.';

      }
      else {
      txs = "НАЧАЛОСЬ!!!";}

      var txt3 = document.getElementById('vre');
      txt3.innerHTML = txs;
    }

    countdownTimer();
    timerId = setInterval(() => countdownTimer(), 1000);

    </script>
{% endblock %}