{% extends 'jsprob/shabl.html' %}
{% block title %} Выборка {% endblock %}
{% block content %}


    <div class="features">
    <button style="margin-top: 20vh; font-size: min(32px, 2.8vw);" class="btn btn-success btn" id = 'butt1' onclick="Funcb()"> ЗАПУСК </button></br></br>
    <form action="" method="get">
            {% csrf_token %}
    <button style="font-size: min(23px, 2.0vw);" class="btn btn-success btn" id = 'butt7' type="submit" name="klass" onclick="Fun1()"> К СПИСКУ КЛАССА </button></br></br>


     <h4 id = 'name'> </h4>
     <h4 id = 'name1'> </h4>

    </br>
    </br></br>
    </br>
    <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt3' type="submit" value="0" name="kb" onclick="Fun()"> 0 Баллов </button>
    <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt4' type="submit" value="1" name="kb" onclick="Fun()"> 1 Балл </button>
    <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt5' type="submit" value="2" name="kb" onclick="Fun()"> 2 Балла </button>
    <button style="font-size: min(18px, 1.4vw);" class="btn btn-success btn" id = 'butt6' type="submit" value="3" name="kb" onclick="Fun()"> 3 Балла </button></br></br>
    <button style="font-size: min(18px, 1.4vw);" class="btn btn-danger btn-sm" id = 'butt8' type="submit" name="rep" onclick="Fun()"> Отмена. СНОВА </button>

    </form>
    </div>


    <script>
    document.getElementById('butt3').style.display='none';
    document.getElementById('butt4').style.display='none';
    document.getElementById('butt5').style.display='none';
    document.getElementById('butt6').style.display='none';
    document.getElementById('butt8').style.display='none';

    localStorage.setItem('kontr', 1);
    arnam = {{nam}};
    vyh = {{vyh}};
    arrn = [];
    kolnam = arnam.length;
    for (i = 0; i < kolnam; i++)
        {
        s = ''
        for (k = 0; k < arnam[i].length; k++)
            {
            s += String.fromCharCode(arnam[i][k])
            }
        arrn.push(s)
        }
    rgr = 0;
    arp = [0];
    for (i = 0; i < vyh.length; i++)
        {
         k = 2 ** (3 - vyh[i]);
         if (k < 2) {k = 0;}
         rgr += k;
         arp.push(rgr)
         console.log('sds', arp)
        }

    function Fun1()
        {
             document.getElementById('butt1').style.display='none';
             document.getElementById('butt7').style.display='none';
        }

    function Fun()
         {
              document.getElementById('butt3').style.display='none';
              document.getElementById('butt4').style.display='none';
              document.getElementById('butt5').style.display='none';
              document.getElementById('butt6').style.display='none';
              document.getElementById('butt8').style.display='none';
         }

    function Funcb()
        {
            document.getElementById('butt1').style.display='none';
            document.getElementById('butt7').style.display='none';
            localStorage.setItem('kontr', 1);
            i = 0;
            j = 0;
            p = 0;
            rr = Math.floor(Math.random() * 6) + 5;
            t = Math.floor(Math.random() * 15) + 85;
            if (localStorage.getItem('kontr') == 1)
            {Funca();
            timerId = setInterval(() => Funca(), 100);}

        function Funca () {
             if (i % 20 == 0) {j++}
             if (i == t) {
                clearInterval(timerId);
                localStorage.setItem('kontr', 2);
                document.getElementById('name').innerHTML = '';
                Funcend();
                }
             i++;
             if (i%j ==  0 && i <= t - rr) {
             a = Math.random() * rgr;
             p = arrn.length;
             console.log(p, a, arp);
             while (a < arp[p]) {p--;}
             }
             razm = Math.floor(1200 / arrn[p].length) / 10;
             fs = 'font-size: min(64px, ' + razm + 'vw)';

             document.getElementById('name').innerHTML = arrn[p];
             document.getElementById('name').style.cssText = 'font-style: italic; ' + fs + '; color: blue';
            }
           }

    function Funcend()
        {
             razm = Math.floor(1400 / arrn[p].length) / 10;
             fs = 'font-size: min(200px, ' + razm + 'vw)';
             document.getElementById('name1').innerHTML = arrn[p];
             document.getElementById('name1').style.cssText = 'font-style: italic; ' + fs + '; color: red';
             document.getElementById('butt3').style.display='';
             document.getElementById('butt4').style.display='';
             document.getElementById('butt5').style.display='';
             document.getElementById('butt6').style.display='';
             document.getElementById('butt8').style.display='';
             document.cookie = "pndnameu4=" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
             document.cookie = "pndnameu4=" + arrn[p];
        }

    </script>
{% endblock %}