{% extends 'jsprob/shabl.html' %}
{% block title %} Вы успешно зарегистрированы {% endblock %}
{% block content %}

    <div class="features">
        </br>
        </br>
        <h1 style="font-style: italic; font-size: max(28px, 3vw);"> ПОЗДРАВЛЯЕМ! </h1></br>
        <h2 style="font-style: italic; font-size: max(22px, 2.5vw);"> Вы успешно зарегистрированы </h2></br>
        <form action="" method="get">
             <a href="{% url 'home' %}" class="btn btn-success"> ПРЕКРАСНО </a>
        </form>
    </div>
{% endblock %}